.avatar{
    width: 12%;
    border-radius: 10%;
  }
  
  ul{
      line-height: 200%;
  }
  
  body{
      background-image: url("../img/background.jpg");
      margin-left: 5%;
      margin-top: 3%
  }
  
  h1{
      color: aqua;
      font-family: cursive;
  }