.avatar{
  width: 12%;
  border-radius: 10%;
}

ul{
    line-height: 200%;
    font-size: 125%;
    font-weight: bold;
}

li{
    margin-left: 3%;
    font-size: 100%;
    font-weight: normal;

}

body{
    background-image: url("../img/background.jpg");
    margin-left: 3%;
    margin-top: 3%
}

h1{
    padding-left: 2.25%;
}

hr{
    margin-right: 3%;
}